In [1]:
!pip list

Package                       Version
----------------------------- ----------
alembic                       1.7.4
altair                        4.1.0
anyio                         3.3.3
appdirs                       1.4.4
argon2-cffi                   21.1.0
async-generator               1.10
attrs                         21.2.0
Babel                         2.9.1
backcall                      0.2.0
backports.functools-lru-cache 1.6.4
beautifulsoup4                4.10.0
bleach                        4.1.0
blinker                       1.4
bokeh                         2.4.1
Bottleneck                    1.3.2
brotlipy                      0.7.0
cached-property               1.5.2
certifi                       2021.10.8
certipy                       0.1.3
cffi                          1.14.6
chardet                       4.0.0
charset-normalizer            2.0.0
click                         8.0.3
cloudpickle                   2.0.0
colorama                      0.4.4
conda                         4.10.3
conda-package-handling        1.7.3
convertdate                   2.4.0
cryptography                  35.0.0
cycler                        0.10.0
Cython                        0.29.24
cytoolz                       0.11.0
dask                          2021.9.1
debugpy                       1.4.1
decorator                     5.1.0
defusedxml                    0.7.1
dill                          0.3.4
distributed                   2021.9.1
entrypoints                   0.3
fsspec                        2021.10.1
gmpy2                         2.1.0b5
greenlet                      1.1.2
h5py                          3.4.0
HeapDict                      1.0.1
hijri-converter               2.2.4
holidays                      0.15
idna                          3.1
imagecodecs                   2021.8.26
imageio                       2.9.0
importlib-metadata            4.8.1
importlib-resources           5.2.3
ipykernel                     6.4.1
ipympl                        0.8.0
ipython                       7.28.0
ipython-genutils              0.2.0
ipywidgets                    7.6.5
jedi                          0.18.0
Jinja2                        3.0.2
joblib                        1.1.0
json5                         0.9.5
jsonschema                    4.1.0
jupyter-client                7.0.6
jupyter-core                  4.8.1
jupyter-server                1.11.1
jupyter-telemetry             0.1.0
jupyterhub                    1.4.2
jupyterlab                    3.2.0
jupyterlab-pygments           0.1.2
jupyterlab-server             2.8.2
jupyterlab-widgets            1.0.2
kiwisolver                    1.3.2
korean-lunar-calendar         0.2.1
llvmlite                      0.37.0
locket                        0.2.0
Mako                          1.1.5
mamba                         0.17.0
MarkupSafe                    2.0.1
matplotlib                    3.4.3
matplotlib-inline             0.1.3
mistune                       0.8.4
mock                          4.0.3
mpmath                        1.2.1
msgpack                       1.0.2
nbclassic                     0.3.2
nbclient                      0.5.4
nbconvert                     6.2.0
nbformat                      5.1.3
nest-asyncio                  1.5.1
networkx                      2.5
notebook                      6.4.4
numba                         0.54.1
numexpr                       2.7.3
numpy                         1.20.3
oauthlib                      3.1.1
olefile                       0.46
packaging                     21.0
pamela                        1.0.0
pandas                        1.3.4
pandocfilters                 1.5.0
parso                         0.8.2
partd                         1.2.0
patsy                         0.5.2
pexpect                       4.8.0
pickleshare                   0.7.5
Pillow                        8.3.2
pip                           21.3
pooch                         1.5.2
prometheus-client             0.11.0
prompt-toolkit                3.0.20
protobuf                      3.18.1
psutil                        5.8.0
ptyprocess                    0.7.0
pyarrow                       5.0.0
pycosat                       0.6.3
pycparser                     2.20
pycurl                        7.44.1
Pygments                      2.10.0
PyJWT                         2.3.0
PyMeeus                       0.5.11
pyOpenSSL                     21.0.0
pyparsing                     2.4.7
pyrsistent                    0.17.3
PySocks                       1.7.1
pyspark                       3.1.2
python-dateutil               2.8.2
python-json-logger            2.0.1
pytz                          2021.3
PyWavelets                    1.1.1
PyYAML                        6.0
pyzmq                         22.3.0
requests                      2.26.0
requests-unixsocket           0.2.0
ruamel.yaml                   0.17.16
ruamel.yaml.clib              0.2.2
ruamel-yaml-conda             0.15.80
scikit-image                  0.18.3
scikit-learn                  1.0
scipy                         1.7.1
seaborn                       0.11.2
Send2Trash                    1.8.0
setuptools                    58.2.0
six                           1.16.0
sniffio                       1.2.0
sortedcontainers              2.4.0
soupsieve                     2.0.1
SQLAlchemy                    1.4.25
statsmodels                   0.13.0
sympy                         1.9
tables                        3.6.1
tblib                         1.7.0
terminado                     0.12.1
testpath                      0.5.0
threadpoolctl                 3.0.0
tifffile                      2021.10.12
toolz                         0.11.1
tornado                       6.1
tqdm                          4.62.3
traitlets                     5.1.0
typing-extensions             3.10.0.2
urllib3                       1.26.7
wcwidth                       0.2.5
webencodings                  0.5.1
websocket-client              0.57.0
wheel                         0.37.0
widgetsnbextension            3.5.1
xlrd                          2.0.1
zict                          2.0.0
zipp                          3.6.0

In [2]:
!pip install holidays

Requirement already satisfied: holidays in /opt/conda/lib/python3.9/site-packages (0.15)
Requirement already satisfied: hijri-converter in /opt/conda/lib/python3.9/site-packages (from holidays) (2.2.4)
Requirement already satisfied: convertdate>=2.3.0 in /opt/conda/lib/python3.9/site-packages (from holidays) (2.4.0)
Requirement already satisfied: python-dateutil in /opt/conda/lib/python3.9/site-packages (from holidays) (2.8.2)
Requirement already satisfied: korean-lunar-calendar in /opt/conda/lib/python3.9/site-packages (from holidays) (0.2.1)
Requirement already satisfied: pymeeus<=1,>=0.3.13 in /opt/conda/lib/python3.9/site-packages (from convertdate>=2.3.0->holidays) (0.5.11)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.9/site-packages (from python-dateutil->holidays) (1.16.0)

In [3]:
from datetime import date, timedelta
from dateutil import easter
from dateutil.relativedelta import *
import dateutil.rrule as rrule
# import dateutil.relativedelta as relativedelta
from datetime import date, datetime

In [4]:
import holidays

In [5]:
import pandas as pd

In [6]:
# US holidays, an example

In [7]:
us_holidays = holidays.US()  # this is a dict
# the below is the same, but takes a string:
us_holidays = holidays.country_holidays('US')  # this is a dict

date(2015, 1, 1) in us_holidays  # True
date(2015, 1, 2) in us_holidays  # False
us_holidays.get('2014-01-01')  # "New Year's Day"

"New Year's Day"

In [8]:
# Adding extra holiday, an example

In [9]:
in_holidays = holidays.HolidayBase()

# Let's check our republic day
print('26-01-2019' in in_holidays)

# Add Holiday without description
in_holidays.append('26-01-2019')

# Let's verify
print('26-01-2019' in in_holidays) # True

# Let's Check Description
print(in_holidays.get('26-01-2019'))

# Add Holiday with description
in_holidays.append({'26-01-2019':'Republic Day India'})
print(in_holidays.get('26-01-2019'))


# Add list of Dates Together
in_holidays.append(['02-10-2018', '15-08-2018'])
print('15-08-2018' in in_holidays) # True
print('02-10-2018' in in_holidays) # True

# a single date item
in_holidays.append(date(2018, 12, 25))
print('25-12-2018' in in_holidays) # True

False
True
Holiday
Republic Day India, Holiday
True
True
True

In [10]:
pl_holidays = holidays.PL()

In [11]:
date(2015, 1, 1) in pl_holidays

True

In [12]:
date(2015, 1, 5) in pl_holidays

False

In [13]:
date(2015, 1, 6) in pl_holidays

True

In [14]:
len(pl_holidays)

13

In [15]:
for holiday in pl_holidays:
    print(holiday)

2015-01-01
2015-01-06
2015-04-05
2015-04-06
2015-05-01
2015-05-03
2015-05-24
2015-06-04
2015-08-15
2015-11-01
2015-11-11
2015-12-25
2015-12-26

In [16]:
years = range(2019, 2023)

In [17]:
years

range(2019, 2023)

In [18]:
def get_holidays(years):
    """ Returns Polish hollidays dates (legally considered non-working days) """
    
    output = pd.DataFrame()
    
    for year in years:
        
        # holidays
        easter_sunday = easter.easter(year)
        holidays = {'New Year': date(year,1,1),
                    'Trzech Kroli': date(year,1,6),
                    'Easter Sunday': easter_sunday,
                    'Easter Monday': easter_sunday + timedelta(days=1),
                    'Labor Day': date(year,5,1),
                    'Constitution Day': date(year,5,3),
                    'Pentecost Sunday': easter_sunday + relativedelta(days=+1, weekday=SU(+7)),
                    'Corpus Christi': easter_sunday + relativedelta(weekday=TH(+9)),
                    'Assumption of the Blessed Virgin Mary': date(year,8,15),
                    'All Saints\' Day': date(year,11,1),
                    'Independence Day': date(year,11,11),
                    'Christmas  Day': date(year, 12, 25),
                    'Boxing Day': date(year, 12, 26),
                    }
        
        # output
        output = pd.concat([output, pd.DataFrame([holidays])], ignore_index=True)
        output.index.names = ['id']

    return output.T

In [19]:
df = get_holidays(years)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13 entries, New Year to Boxing Day
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       13 non-null     object
 1   1       13 non-null     object
 2   2       13 non-null     object
 3   3       13 non-null     object
dtypes: object(4)
memory usage: 520.0+ bytes

In [21]:
df

id,0,1,2,3
New Year,2019-01-01,2020-01-01,2021-01-01,2022-01-01
Trzech Kroli,2019-01-06,2020-01-06,2021-01-06,2022-01-06
Easter Sunday,2019-04-21,2020-04-12,2021-04-04,2022-04-17
Easter Monday,2019-04-22,2020-04-13,2021-04-05,2022-04-18
Labor Day,2019-05-01,2020-05-01,2021-05-01,2022-05-01
Constitution Day,2019-05-03,2020-05-03,2021-05-03,2022-05-03
Pentecost Sunday,2019-06-09,2020-05-31,2021-05-23,2022-06-05
Corpus Christi,2019-06-20,2020-06-11,2021-06-03,2022-06-16
Assumption of the Blessed Virgin Mary,2019-08-15,2020-08-15,2021-08-15,2022-08-15
All Saints' Day,2019-11-01,2020-11-01,2021-11-01,2022-11-01
Independence Day,2019-11-11,2020-11-11,2021-11-11,2022-11-11
Christmas Day,2019-12-25,2020-12-25,2021-12-25,2022-12-25
Boxing Day,2019-12-26,2020-12-26,2021-12-26,2022-12-26

In [22]:
df.loc['New Year']

id
0    2019-01-01
1    2020-01-01
2    2021-01-01
3    2022-01-01
Name: New Year, dtype: object

In [23]:
df_melted = df.stack().reset_index(name='date').rename(columns={'level_0':'holiday', 'id': 'year_id'})

In [24]:
holidays = df_melted.drop(columns='year_id')

In [25]:
holidays['date'] = pd.to_datetime(holidays['date'])

In [26]:
holidays

                                  holiday       date
0                                New Year 2019-01-01
1                                New Year 2020-01-01
2                                New Year 2021-01-01
3                                New Year 2022-01-01
4                            Trzech Kroli 2019-01-06
5                            Trzech Kroli 2020-01-06
6                            Trzech Kroli 2021-01-06
7                            Trzech Kroli 2022-01-06
8                           Easter Sunday 2019-04-21
9                           Easter Sunday 2020-04-12
10                          Easter Sunday 2021-04-04
11                          Easter Sunday 2022-04-17
12                          Easter Monday 2019-04-22
13                          Easter Monday 2020-04-13
14                          Easter Monday 2021-04-05
15                          Easter Monday 2022-04-18
16                              Labor Day 2019-05-01
17                              Labor Day 2020-05-01
18                              Labor Day 2021-05-01
19                              Labor Day 2022-05-01
20                       Constitution Day 2019-05-03
21                       Constitution Day 2020-05-03
22                       Constitution Day 2021-05-03
23                       Constitution Day 2022-05-03
24                       Pentecost Sunday 2019-06-09
25                       Pentecost Sunday 2020-05-31
26                       Pentecost Sunday 2021-05-23
27                       Pentecost Sunday 2022-06-05
28                         Corpus Christi 2019-06-20
29                         Corpus Christi 2020-06-11
30                         Corpus Christi 2021-06-03
31                         Corpus Christi 2022-06-16
32  Assumption of the Blessed Virgin Mary 2019-08-15
33  Assumption of the Blessed Virgin Mary 2020-08-15
34  Assumption of the Blessed Virgin Mary 2021-08-15
35  Assumption of the Blessed Virgin Mary 2022-08-15
36                        All Saints' Day 2019-11-01
37                        All Saints' Day 2020-11-01
38                        All Saints' Day 2021-11-01
39                        All Saints' Day 2022-11-01
40                       Independence Day 2019-11-11
41                       Independence Day 2020-11-11
42                       Independence Day 2021-11-11
43                       Independence Day 2022-11-11
44                         Christmas  Day 2019-12-25
45                         Christmas  Day 2020-12-25
46                         Christmas  Day 2021-12-25
47                         Christmas  Day 2022-12-25
48                             Boxing Day 2019-12-26
49                             Boxing Day 2020-12-26
50                             Boxing Day 2021-12-26
51                             Boxing Day 2022-12-26

In [27]:
year = 2022

In [28]:
easter_sunday = easter.easter(year)

In [29]:
print(date(year,1,6))

2022-01-06

In [30]:
date_to_check = date(year,1,6)

In [31]:
if date_to_check in set(df_melted['date']):
    print(True)
else:
    print(False)

True

In [32]:
date_to_check = date(year,1,5)

In [33]:
if date_to_check in set(df_melted['date']):
    print(True)
else:
    print(False)

False

In [34]:
def get_holidays_pl(years):
    """ Returns Polish hollidays dates (legally considered non-working days) """
    
    df = pd.DataFrame()
    
    for year in years:
        
        # holidays
        easter_sunday = easter.easter(year)
        holidays = {'New Year': date(year,1,1),
                    'Trzech Kroli': date(year,1,6),
                    'Easter Sunday': easter_sunday,
                    'Easter Monday': easter_sunday + timedelta(days=1),
                    'Labor Day': date(year,5,1),
                    'Constitution Day': date(year,5,3),
                    'Pentecost Sunday': easter_sunday + relativedelta(days=+1, weekday=SU(+7)),
                    'Corpus Christi': easter_sunday + relativedelta(weekday=TH(+9)),
                    'Assumption of the Blessed Virgin Mary': date(year,8,15),
                    'All Saints\' Day': date(year,11,1),
                    'Independence Day': date(year,11,11),
                    'Christmas  Day': date(year, 12, 25),
                    'Boxing Day': date(year, 12, 26),
                    }
        
        # output
        df = pd.concat([df, pd.DataFrame([holidays])], ignore_index=True)
        df.index.names = ['id']
        output = df.transpose(copy=True)
        output = output.stack().reset_index(name='date').rename(columns={'level_0':'holiday', 'id': 'year_id'})
        output = output.drop(columns='year_id')
        output['date'] = pd.to_datetime(output['date'])
        
        print(output.head())

    return output

In [35]:
holidays = get_holidays_pl(years)

         holiday       date
0       New Year 2019-01-01
1   Trzech Kroli 2019-01-06
2  Easter Sunday 2019-04-21
3  Easter Monday 2019-04-22
4      Labor Day 2019-05-01
         holiday       date
0       New Year 2019-01-01
1       New Year 2020-01-01
2   Trzech Kroli 2019-01-06
3   Trzech Kroli 2020-01-06
4  Easter Sunday 2019-04-21
        holiday       date
0      New Year 2019-01-01
1      New Year 2020-01-01
2      New Year 2021-01-01
3  Trzech Kroli 2019-01-06
4  Trzech Kroli 2020-01-06
        holiday       date
0      New Year 2019-01-01
1      New Year 2020-01-01
2      New Year 2021-01-01
3      New Year 2022-01-01
4  Trzech Kroli 2019-01-06

In [36]:
holidays

                                  holiday       date
0                                New Year 2019-01-01
1                                New Year 2020-01-01
2                                New Year 2021-01-01
3                                New Year 2022-01-01
4                            Trzech Kroli 2019-01-06
5                            Trzech Kroli 2020-01-06
6                            Trzech Kroli 2021-01-06
7                            Trzech Kroli 2022-01-06
8                           Easter Sunday 2019-04-21
9                           Easter Sunday 2020-04-12
10                          Easter Sunday 2021-04-04
11                          Easter Sunday 2022-04-17
12                          Easter Monday 2019-04-22
13                          Easter Monday 2020-04-13
14                          Easter Monday 2021-04-05
15                          Easter Monday 2022-04-18
16                              Labor Day 2019-05-01
17                              Labor Day 2020-05-01
18                              Labor Day 2021-05-01
19                              Labor Day 2022-05-01
20                       Constitution Day 2019-05-03
21                       Constitution Day 2020-05-03
22                       Constitution Day 2021-05-03
23                       Constitution Day 2022-05-03
24                       Pentecost Sunday 2019-06-09
25                       Pentecost Sunday 2020-05-31
26                       Pentecost Sunday 2021-05-23
27                       Pentecost Sunday 2022-06-05
28                         Corpus Christi 2019-06-20
29                         Corpus Christi 2020-06-11
30                         Corpus Christi 2021-06-03
31                         Corpus Christi 2022-06-16
32  Assumption of the Blessed Virgin Mary 2019-08-15
33  Assumption of the Blessed Virgin Mary 2020-08-15
34  Assumption of the Blessed Virgin Mary 2021-08-15
35  Assumption of the Blessed Virgin Mary 2022-08-15
36                        All Saints' Day 2019-11-01
37                        All Saints' Day 2020-11-01
38                        All Saints' Day 2021-11-01
39                        All Saints' Day 2022-11-01
40                       Independence Day 2019-11-11
41                       Independence Day 2020-11-11
42                       Independence Day 2021-11-11
43                       Independence Day 2022-11-11
44                         Christmas  Day 2019-12-25
45                         Christmas  Day 2020-12-25
46                         Christmas  Day 2021-12-25
47                         Christmas  Day 2022-12-25
48                             Boxing Day 2019-12-26
49                             Boxing Day 2020-12-26
50                             Boxing Day 2021-12-26
51                             Boxing Day 2022-12-26

In [37]:
# import dateutil.relativedelta as relativedelta
# import dateutil.rrule as rrule
# import datetime
year=2022
before=datetime(year,1,1)
after=datetime(year,12,31)
rr = rrule.rrule(rrule.WEEKLY, byweekday=SU, dtstart=before)
print(rr.between(before, after, inc=True))

[datetime.datetime(2022, 1, 2, 0, 0), datetime.datetime(2022, 1, 9, 0, 0), datetime.datetime(2022, 1, 16, 0, 0), datetime.datetime(2022, 1, 23, 0, 0), datetime.datetime(2022, 1, 30, 0, 0), datetime.datetime(2022, 2, 6, 0, 0), datetime.datetime(2022, 2, 13, 0, 0), datetime.datetime(2022, 2, 20, 0, 0), datetime.datetime(2022, 2, 27, 0, 0), datetime.datetime(2022, 3, 6, 0, 0), datetime.datetime(2022, 3, 13, 0, 0), datetime.datetime(2022, 3, 20, 0, 0), datetime.datetime(2022, 3, 27, 0, 0), datetime.datetime(2022, 4, 3, 0, 0), datetime.datetime(2022, 4, 10, 0, 0), datetime.datetime(2022, 4, 17, 0, 0), datetime.datetime(2022, 4, 24, 0, 0), datetime.datetime(2022, 5, 1, 0, 0), datetime.datetime(2022, 5, 8, 0, 0), datetime.datetime(2022, 5, 15, 0, 0), datetime.datetime(2022, 5, 22, 0, 0), datetime.datetime(2022, 5, 29, 0, 0), datetime.datetime(2022, 6, 5, 0, 0), datetime.datetime(2022, 6, 12, 0, 0), datetime.datetime(2022, 6, 19, 0, 0), datetime.datetime(2022, 6, 26, 0, 0), datetime.datetime(2022, 7, 3, 0, 0), datetime.datetime(2022, 7, 10, 0, 0), datetime.datetime(2022, 7, 17, 0, 0), datetime.datetime(2022, 7, 24, 0, 0), datetime.datetime(2022, 7, 31, 0, 0), datetime.datetime(2022, 8, 7, 0, 0), datetime.datetime(2022, 8, 14, 0, 0), datetime.datetime(2022, 8, 21, 0, 0), datetime.datetime(2022, 8, 28, 0, 0), datetime.datetime(2022, 9, 4, 0, 0), datetime.datetime(2022, 9, 11, 0, 0), datetime.datetime(2022, 9, 18, 0, 0), datetime.datetime(2022, 9, 25, 0, 0), datetime.datetime(2022, 10, 2, 0, 0), datetime.datetime(2022, 10, 9, 0, 0), datetime.datetime(2022, 10, 16, 0, 0), datetime.datetime(2022, 10, 23, 0, 0), datetime.datetime(2022, 10, 30, 0, 0), datetime.datetime(2022, 11, 6, 0, 0), datetime.datetime(2022, 11, 13, 0, 0), datetime.datetime(2022, 11, 20, 0, 0), datetime.datetime(2022, 11, 27, 0, 0), datetime.datetime(2022, 12, 4, 0, 0), datetime.datetime(2022, 12, 11, 0, 0), datetime.datetime(2022, 12, 18, 0, 0), datetime.datetime(2022, 12, 25, 0, 0)]

In [38]:
years

range(2019, 2023)

In [39]:
min(years)

2019

In [40]:
max(years)

2022

In [41]:
def get_sundays(years):
    """ Returns Sundays """

    before=datetime(min(years), 1, 1)
    after=datetime(max(years), 12, 31)
    rr = rrule.rrule(rrule.WEEKLY, byweekday=SU, dtstart=before)

    output = pd.DataFrame(rr.between(before, after, inc=True), columns=['date'])
    output['holiday'] = 'Sunday'
    
    print(output.head())

    return output

In [42]:
sundays = get_sundays(years)

        date holiday
0 2019-01-06  Sunday
1 2019-01-13  Sunday
2 2019-01-20  Sunday
3 2019-01-27  Sunday
4 2019-02-03  Sunday

In [43]:
sundays

          date holiday
0   2019-01-06  Sunday
1   2019-01-13  Sunday
2   2019-01-20  Sunday
3   2019-01-27  Sunday
4   2019-02-03  Sunday
..         ...     ...
203 2022-11-27  Sunday
204 2022-12-04  Sunday
205 2022-12-11  Sunday
206 2022-12-18  Sunday
207 2022-12-25  Sunday

[208 rows x 2 columns]

In [44]:
holidays.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   holiday  52 non-null     object
 1   date     52 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 960.0+ bytes

In [45]:
sundays.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208 entries, 0 to 207
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     208 non-null    datetime64[ns]
 1   holiday  208 non-null    object
dtypes: datetime64[ns](1), object(1)
memory usage: 3.4+ KB

In [46]:
calendar = pd.concat([holidays, sundays], ignore_index=True)

In [47]:
calendar

          holiday       date
0        New Year 2019-01-01
1        New Year 2020-01-01
2        New Year 2021-01-01
3        New Year 2022-01-01
4    Trzech Kroli 2019-01-06
..            ...        ...
255        Sunday 2022-11-27
256        Sunday 2022-12-04
257        Sunday 2022-12-11
258        Sunday 2022-12-18
259        Sunday 2022-12-25

[260 rows x 2 columns]

In [48]:
ls -lah

total 1.5M
drwxrwxrwx 1 root   root   512 Sep  4 03:44 ./
drwsrwsr-x 1 jovyan users 4.0K Sep  2 21:33 ../
-rwxrwxrwx 1 root   root  1.6M Sep  4 03:21 202209040523_nbp_exchangerates.csv*
-rwxrwxrwx 1 root   root  1.8M Sep  3 05:46 excursions_data.csv*
-rwxrwxrwx 1 root   root   12K Aug 24 06:46 hello-world-notebook.ipynb*
-rw-r--r-- 1 jovyan users 119K Sep  4 03:44 holidays_and_sundays_pl.ipynb
drwxrwxrwx 1 root   root   512 Aug 31 16:52 .ipynb_checkpoints/
-rwxrwxrwx 1 root   root   19K Jun  5 16:49 load-postgres-notebook.ipynb*
-rwxrwxrwx 1 root   root  203K Sep  1 17:12 nbp_exchangerates.csv*
-rw-r--r-- 1 jovyan users 197K Sep  3 12:52 nbp_exchange_rates.ipynb
-rwxrwxrwx 1 root   root  3.8K Jun  5 16:58 read-postgres-notebook.ipynb*
-rw-r--r-- 1 jovyan users   21 Sep  4 03:34 test.py

In [49]:
!whoami

jovyan

In [50]:
%%writefile test.py
print('hello_world')

Overwriting test.py

In [51]:
monday = '2022-08-29'
monday

'2022-08-29'

In [52]:
current_dttm = pd.to_datetime(monday)
current_dttm

Timestamp('2022-08-29 00:00:00')

In [53]:
# dt_minus_one = (current_dttm - timedelta(days=1)).strftime("%Y-%m-%d")
dt_minus_one = (current_dttm - timedelta(days=1))
dt_minus_one

Timestamp('2022-08-28 00:00:00')

In [54]:
print(monday)
if monday in sorted(set(calendar['date'])):
    print('jest')
else:
    print('nie ma')

2022-08-29
nie ma

In [55]:
print(dt_minus_one)
if dt_minus_one in sorted(set(calendar['date'])):
    print('jest')
else:
    print('nie ma')

2022-08-28 00:00:00
jest

In [56]:
calendar[calendar['date'] <  dt_minus_one]

          holiday       date
0        New Year 2019-01-01
1        New Year 2020-01-01
2        New Year 2021-01-01
3        New Year 2022-01-01
4    Trzech Kroli 2019-01-06
..            ...        ...
237        Sunday 2022-07-24
238        Sunday 2022-07-31
239        Sunday 2022-08-07
240        Sunday 2022-08-14
241        Sunday 2022-08-21

[238 rows x 2 columns]

In [57]:
import datetime
import numpy as np

start = datetime.date(2022, 2, 15)
end = datetime.date(2022, 3, 16)

# include holidays in a list
days = np.busday_count(start, end, holidays=['2022-02-21'])
print('Number of business days is:', days)

Number of business days is: 20

In [58]:
bdd = np.busdaycalendar(
            holidays=['2011-07-01', '2011-07-04', '2011-07-17'])

In [59]:
bdd.weekmask

array([ True,  True,  True,  True,  True, False, False])

In [60]:
import pandas as pd
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay
US_BUSINESS_DAY = CustomBusinessDay(calendar=USFederalHolidayCalendar())

july_5 = pd.datetime(2018, 7, 5)
result = july_5 - 2 * US_BUSINESS_DAY # 2018-7-2

/tmp/ipykernel_62/647495292.py:6: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  july_5 = pd.datetime(2018, 7, 5)

In [61]:
result

Timestamp('2018-07-02 00:00:00')

In [62]:
holidays = calendar['date']

In [63]:
list(holidays)

[Timestamp('2019-01-01 00:00:00'),
 Timestamp('2020-01-01 00:00:00'),
 Timestamp('2021-01-01 00:00:00'),
 Timestamp('2022-01-01 00:00:00'),
 Timestamp('2019-01-06 00:00:00'),
 Timestamp('2020-01-06 00:00:00'),
 Timestamp('2021-01-06 00:00:00'),
 Timestamp('2022-01-06 00:00:00'),
 Timestamp('2019-04-21 00:00:00'),
 Timestamp('2020-04-12 00:00:00'),
 Timestamp('2021-04-04 00:00:00'),
 Timestamp('2022-04-17 00:00:00'),
 Timestamp('2019-04-22 00:00:00'),
 Timestamp('2020-04-13 00:00:00'),
 Timestamp('2021-04-05 00:00:00'),
 Timestamp('2022-04-18 00:00:00'),
 Timestamp('2019-05-01 00:00:00'),
 Timestamp('2020-05-01 00:00:00'),
 Timestamp('2021-05-01 00:00:00'),
 Timestamp('2022-05-01 00:00:00'),
 Timestamp('2019-05-03 00:00:00'),
 Timestamp('2020-05-03 00:00:00'),
 Timestamp('2021-05-03 00:00:00'),
 Timestamp('2022-05-03 00:00:00'),
 Timestamp('2019-06-09 00:00:00'),
 Timestamp('2020-05-31 00:00:00'),
 Timestamp('2021-05-23 00:00:00'),
 Timestamp('2022-06-05 00:00:00'),
 Timestamp('2019-06-20 00:00:00'),
 Timestamp('2020-06-11 00:00:00'),
 Timestamp('2021-06-03 00:00:00'),
 Timestamp('2022-06-16 00:00:00'),
 Timestamp('2019-08-15 00:00:00'),
 Timestamp('2020-08-15 00:00:00'),
 Timestamp('2021-08-15 00:00:00'),
 Timestamp('2022-08-15 00:00:00'),
 Timestamp('2019-11-01 00:00:00'),
 Timestamp('2020-11-01 00:00:00'),
 Timestamp('2021-11-01 00:00:00'),
 Timestamp('2022-11-01 00:00:00'),
 Timestamp('2019-11-11 00:00:00'),
 Timestamp('2020-11-11 00:00:00'),
 Timestamp('2021-11-11 00:00:00'),
 Timestamp('2022-11-11 00:00:00'),
 Timestamp('2019-12-25 00:00:00'),
 Timestamp('2020-12-25 00:00:00'),
 Timestamp('2021-12-25 00:00:00'),
 Timestamp('2022-12-25 00:00:00'),
 Timestamp('2019-12-26 00:00:00'),
 Timestamp('2020-12-26 00:00:00'),
 Timestamp('2021-12-26 00:00:00'),
 Timestamp('2022-12-26 00:00:00'),
 Timestamp('2019-01-06 00:00:00'),
 Timestamp('2019-01-13 00:00:00'),
 Timestamp('2019-01-20 00:00:00'),
 Timestamp('2019-01-27 00:00:00'),
 Timestamp('2019-02-03 00:00:00'),
 Timestamp('2019-02-10 00:00:00'),
 Timestamp('2019-02-17 00:00:00'),
 Timestamp('2019-02-24 00:00:00'),
 Timestamp('2019-03-03 00:00:00'),
 Timestamp('2019-03-10 00:00:00'),
 Timestamp('2019-03-17 00:00:00'),
 Timestamp('2019-03-24 00:00:00'),
 Timestamp('2019-03-31 00:00:00'),
 Timestamp('2019-04-07 00:00:00'),
 Timestamp('2019-04-14 00:00:00'),
 Timestamp('2019-04-21 00:00:00'),
 Timestamp('2019-04-28 00:00:00'),
 Timestamp('2019-05-05 00:00:00'),
 Timestamp('2019-05-12 00:00:00'),
 Timestamp('2019-05-19 00:00:00'),
 Timestamp('2019-05-26 00:00:00'),
 Timestamp('2019-06-02 00:00:00'),
 Timestamp('2019-06-09 00:00:00'),
 Timestamp('2019-06-16 00:00:00'),
 Timestamp('2019-06-23 00:00:00'),
 Timestamp('2019-06-30 00:00:00'),
 Timestamp('2019-07-07 00:00:00'),
 Timestamp('2019-07-14 00:00:00'),
 Timestamp('2019-07-21 00:00:00'),
 Timestamp('2019-07-28 00:00:00'),
 Timestamp('2019-08-04 00:00:00'),
 Timestamp('2019-08-11 00:00:00'),
 Timestamp('2019-08-18 00:00:00'),
 Timestamp('2019-08-25 00:00:00'),
 Timestamp('2019-09-01 00:00:00'),
 Timestamp('2019-09-08 00:00:00'),
 Timestamp('2019-09-15 00:00:00'),
 Timestamp('2019-09-22 00:00:00'),
 Timestamp('2019-09-29 00:00:00'),
 Timestamp('2019-10-06 00:00:00'),
 Timestamp('2019-10-13 00:00:00'),
 Timestamp('2019-10-20 00:00:00'),
 Timestamp('2019-10-27 00:00:00'),
 Timestamp('2019-11-03 00:00:00'),
 Timestamp('2019-11-10 00:00:00'),
 Timestamp('2019-11-17 00:00:00'),
 Timestamp('2019-11-24 00:00:00'),
 Timestamp('2019-12-01 00:00:00'),
 Timestamp('2019-12-08 00:00:00'),
 Timestamp('2019-12-15 00:00:00'),
 Timestamp('2019-12-22 00:00:00'),
 Timestamp('2019-12-29 00:00:00'),
 Timestamp('2020-01-05 00:00:00'),
 Timestamp('2020-01-12 00:00:00'),
 Timestamp('2020-01-19 00:00:00'),
 Timestamp('2020-01-26 00:00:00'),
 Timestamp('2020-02-02 00:00:00'),
 Timestamp('2020-02-09 00:00:00'),
 Timestamp('2020-02-16 00:00:00'),
 Timestamp('2020-02-23 00:00:00'),
 Timestamp('2020-03-01 00:00:00'),
 Timestamp('2020-03-08 00:00:00'),
 Timestamp('2020-03-15 00:00:00'),
 Timestamp('2020-03-22 00:00:00'),
 Timestamp('2020-03-29 00:00:00'),
 Timestamp('2020-04-05 00:00:00'),
 Timestamp('2020-04-12 00:00:00'),
 Timestamp('2020-04-19 00:00:00'),
 Timestamp('2020-04-26 00:00:00'),
 Timestamp('2020-05-03 00:00:00'),
 Timestamp('2020-05-10 00:00:00'),
 Timestamp('2020-05-17 00:00:00'),
 Timestamp('2020-05-24 00:00:00'),
 Timestamp('2020-05-31 00:00:00'),
 Timestamp('2020-06-07 00:00:00'),
 Timestamp('2020-06-14 00:00:00'),
 Timestamp('2020-06-21 00:00:00'),
 Timestamp('2020-06-28 00:00:00'),
 Timestamp('2020-07-05 00:00:00'),
 Timestamp('2020-07-12 00:00:00'),
 Timestamp('2020-07-19 00:00:00'),
 Timestamp('2020-07-26 00:00:00'),
 Timestamp('2020-08-02 00:00:00'),
 Timestamp('2020-08-09 00:00:00'),
 Timestamp('2020-08-16 00:00:00'),
 Timestamp('2020-08-23 00:00:00'),
 Timestamp('2020-08-30 00:00:00'),
 Timestamp('2020-09-06 00:00:00'),
 Timestamp('2020-09-13 00:00:00'),
 Timestamp('2020-09-20 00:00:00'),
 Timestamp('2020-09-27 00:00:00'),
 Timestamp('2020-10-04 00:00:00'),
 Timestamp('2020-10-11 00:00:00'),
 Timestamp('2020-10-18 00:00:00'),
 Timestamp('2020-10-25 00:00:00'),
 Timestamp('2020-11-01 00:00:00'),
 Timestamp('2020-11-08 00:00:00'),
 Timestamp('2020-11-15 00:00:00'),
 Timestamp('2020-11-22 00:00:00'),
 Timestamp('2020-11-29 00:00:00'),
 Timestamp('2020-12-06 00:00:00'),
 Timestamp('2020-12-13 00:00:00'),
 Timestamp('2020-12-20 00:00:00'),
 Timestamp('2020-12-27 00:00:00'),
 Timestamp('2021-01-03 00:00:00'),
 Timestamp('2021-01-10 00:00:00'),
 Timestamp('2021-01-17 00:00:00'),
 Timestamp('2021-01-24 00:00:00'),
 Timestamp('2021-01-31 00:00:00'),
 Timestamp('2021-02-07 00:00:00'),
 Timestamp('2021-02-14 00:00:00'),
 Timestamp('2021-02-21 00:00:00'),
 Timestamp('2021-02-28 00:00:00'),
 Timestamp('2021-03-07 00:00:00'),
 Timestamp('2021-03-14 00:00:00'),
 Timestamp('2021-03-21 00:00:00'),
 Timestamp('2021-03-28 00:00:00'),
 Timestamp('2021-04-04 00:00:00'),
 Timestamp('2021-04-11 00:00:00'),
 Timestamp('2021-04-18 00:00:00'),
 Timestamp('2021-04-25 00:00:00'),
 Timestamp('2021-05-02 00:00:00'),
 Timestamp('2021-05-09 00:00:00'),
 Timestamp('2021-05-16 00:00:00'),
 Timestamp('2021-05-23 00:00:00'),
 Timestamp('2021-05-30 00:00:00'),
 Timestamp('2021-06-06 00:00:00'),
 Timestamp('2021-06-13 00:00:00'),
 Timestamp('2021-06-20 00:00:00'),
 Timestamp('2021-06-27 00:00:00'),
 Timestamp('2021-07-04 00:00:00'),
 Timestamp('2021-07-11 00:00:00'),
 Timestamp('2021-07-18 00:00:00'),
 Timestamp('2021-07-25 00:00:00'),
 Timestamp('2021-08-01 00:00:00'),
 Timestamp('2021-08-08 00:00:00'),
 Timestamp('2021-08-15 00:00:00'),
 Timestamp('2021-08-22 00:00:00'),
 Timestamp('2021-08-29 00:00:00'),
 Timestamp('2021-09-05 00:00:00'),
 Timestamp('2021-09-12 00:00:00'),
 Timestamp('2021-09-19 00:00:00'),
 Timestamp('2021-09-26 00:00:00'),
 Timestamp('2021-10-03 00:00:00'),
 Timestamp('2021-10-10 00:00:00'),
 Timestamp('2021-10-17 00:00:00'),
 Timestamp('2021-10-24 00:00:00'),
 Timestamp('2021-10-31 00:00:00'),
 Timestamp('2021-11-07 00:00:00'),
 Timestamp('2021-11-14 00:00:00'),
 Timestamp('2021-11-21 00:00:00'),
 Timestamp('2021-11-28 00:00:00'),
 Timestamp('2021-12-05 00:00:00'),
 Timestamp('2021-12-12 00:00:00'),
 Timestamp('2021-12-19 00:00:00'),
 Timestamp('2021-12-26 00:00:00'),
 Timestamp('2022-01-02 00:00:00'),
 Timestamp('2022-01-09 00:00:00'),
 Timestamp('2022-01-16 00:00:00'),
 Timestamp('2022-01-23 00:00:00'),
 Timestamp('2022-01-30 00:00:00'),
 Timestamp('2022-02-06 00:00:00'),
 Timestamp('2022-02-13 00:00:00'),
 Timestamp('2022-02-20 00:00:00'),
 Timestamp('2022-02-27 00:00:00'),
 Timestamp('2022-03-06 00:00:00'),
 Timestamp('2022-03-13 00:00:00'),
 Timestamp('2022-03-20 00:00:00'),
 Timestamp('2022-03-27 00:00:00'),
 Timestamp('2022-04-03 00:00:00'),
 Timestamp('2022-04-10 00:00:00'),
 Timestamp('2022-04-17 00:00:00'),
 Timestamp('2022-04-24 00:00:00'),
 Timestamp('2022-05-01 00:00:00'),
 Timestamp('2022-05-08 00:00:00'),
 Timestamp('2022-05-15 00:00:00'),
 Timestamp('2022-05-22 00:00:00'),
 Timestamp('2022-05-29 00:00:00'),
 Timestamp('2022-06-05 00:00:00'),
 Timestamp('2022-06-12 00:00:00'),
 Timestamp('2022-06-19 00:00:00'),
 Timestamp('2022-06-26 00:00:00'),
 Timestamp('2022-07-03 00:00:00'),
 Timestamp('2022-07-10 00:00:00'),
 Timestamp('2022-07-17 00:00:00'),
 Timestamp('2022-07-24 00:00:00'),
 Timestamp('2022-07-31 00:00:00'),
 Timestamp('2022-08-07 00:00:00'),
 Timestamp('2022-08-14 00:00:00'),
 Timestamp('2022-08-21 00:00:00'),
 Timestamp('2022-08-28 00:00:00'),
 Timestamp('2022-09-04 00:00:00'),
 Timestamp('2022-09-11 00:00:00'),
 Timestamp('2022-09-18 00:00:00'),
 Timestamp('2022-09-25 00:00:00'),
 Timestamp('2022-10-02 00:00:00'),
 Timestamp('2022-10-09 00:00:00'),
 Timestamp('2022-10-16 00:00:00'),
 Timestamp('2022-10-23 00:00:00'),
 Timestamp('2022-10-30 00:00:00'),
 Timestamp('2022-11-06 00:00:00'),
 Timestamp('2022-11-13 00:00:00'),
 Timestamp('2022-11-20 00:00:00'),
 Timestamp('2022-11-27 00:00:00'),
 Timestamp('2022-12-04 00:00:00'),
 Timestamp('2022-12-11 00:00:00'),
 Timestamp('2022-12-18 00:00:00'),
 Timestamp('2022-12-25 00:00:00')]

In [64]:
working_days = pd.bdate_range(start='1/1/2019', end='1/1/2023', holidays=list(holidays), weekmask="Mon Tue Wed Thu Fri", freq='C')

In [65]:
working_days

DatetimeIndex(['2019-01-02', '2019-01-03', '2019-01-04', '2019-01-07',
               '2019-01-08', '2019-01-09', '2019-01-10', '2019-01-11',
               '2019-01-14', '2019-01-15',
               ...
               '2022-12-16', '2022-12-19', '2022-12-20', '2022-12-21',
               '2022-12-22', '2022-12-23', '2022-12-27', '2022-12-28',
               '2022-12-29', '2022-12-30'],
              dtype='datetime64[ns]', length=1012, freq='C')

In [66]:
working_days

DatetimeIndex(['2019-01-02', '2019-01-03', '2019-01-04', '2019-01-07',
               '2019-01-08', '2019-01-09', '2019-01-10', '2019-01-11',
               '2019-01-14', '2019-01-15',
               ...
               '2022-12-16', '2022-12-19', '2022-12-20', '2022-12-21',
               '2022-12-22', '2022-12-23', '2022-12-27', '2022-12-28',
               '2022-12-29', '2022-12-30'],
              dtype='datetime64[ns]', length=1012, freq='C')

In [67]:
list(working_days[working_days < '2022-12-30'])[-1]

Timestamp('2022-12-29 00:00:00', freq='C')

In [68]:
wd = pd.DataFrame(working_days, columns=['date'])

In [69]:
wd

           date
0    2019-01-02
1    2019-01-03
2    2019-01-04
3    2019-01-07
4    2019-01-08
...         ...
1007 2022-12-23
1008 2022-12-27
1009 2022-12-28
1010 2022-12-29
1011 2022-12-30

[1012 rows x 1 columns]

In [70]:
wd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1012 entries, 0 to 1011
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1012 non-null   datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 8.0 KB

In [71]:
wd.loc[wd['date'].idxmax()][0]

Timestamp('2022-12-30 00:00:00')

In [72]:
ls

202209040523_nbp_exchangerates.csv*  nbp_exchangerates.csv*
excursions_data.csv*                 nbp_exchange_rates.ipynb
hello-world-notebook.ipynb*          read-postgres-notebook.ipynb*
holidays_and_sundays_pl.ipynb        test.py
load-postgres-notebook.ipynb*

In [73]:
df = pd.read_csv('202209040523_nbp_exchangerates.csv')

In [74]:
df.describe()

            SP_Paid  SP_ValueCalculated  SP_ExchangeRate
count  39019.000000        11435.000000     11435.000000
mean     570.539486         2716.640961         4.381793
std      778.506861         5202.586340         0.646131
min        0.870000            0.155469         0.012834
25%      305.570000         1393.241720         4.506700
50%      434.060000         1956.301200         4.549900
75%      614.860000         2632.195440         4.580600
max    39447.600000       170823.887040         5.358200

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39019 entries, 0 to 39018
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   SP_BookingNumber    39019 non-null  object
 1   SP_Destination      39019 non-null  object
 2   SP_PaidCurrency     39019 non-null  object
 3   SP_Paid             39019 non-null  float64
 4   SP_TourDate         39019 non-null  object
 5   SP_ValueCalculated  11435 non-null  float64
 6   SP_ExchangeRate     11435 non-null  float64
dtypes: float64(3), object(4)
memory usage: 2.1+ MB

In [76]:
df['SP_PaidCurrency'].unique()

array(['PLN', 'EUR', 'CZK', 'USD', 'RUB', 'HUF', 'GBP'], dtype=object)

In [77]:
foreign_currencies = df[df['SP_PaidCurrency'].isin(['CZK', 'EUR', 'GBP', 'HUF', 'RUB', 'USD'])]

In [78]:
foreign_currencies

,SP_BookingNumber,SP_Destination,SP_PaidCurrency,SP_Paid,SP_TourDate,SP_ValueCalculated,SP_ExchangeRate
2,S0067688,SID,EUR,512.95,2022-01-13,2325.304940,4.5332
3,S0067687,FNC,EUR,486.86,2022-01-11,2209.224622,4.5377
4,S0067686,SID,EUR,512.95,2022-01-13,2325.304940,4.5332
5,S0067685,SID,EUR,169.05,2022-01-11,767.098185,4.5377
9,S0067628,SID,EUR,169.05,2022-01-11,767.098185,4.5377
...,...,...,...,...,...,...,...
38988,S0000059,NOS,EUR,486.15,2019-07-17,2070.123930,4.2582
38992,S0000049,FAO,EUR,453.74,2019-08-07,1955.437904,4.3096
38993,S0000048,FAO,EUR,486.15,2019-08-03,2094.577275,4.3085
38996,S0000039,BOJ,EUR,375.03,2019-07-27,1599.315435,4.2645
39015,W0005227,BCN,EUR,78.71,2019-09-11,341.207850,4.3350

In [79]:
missing_exchange_rates = foreign_currencies[foreign_currencies['SP_ExchangeRate'].isnull()]

In [80]:
missing_exchange_rates.sort_values(['SP_TourDate'])

,SP_BookingNumber,SP_Destination,SP_PaidCurrency,SP_Paid,SP_TourDate,SP_ValueCalculated,SP_ExchangeRate
35150,S0008519,ZTH,EUR,250.02,2019-08-09,NaN,NaN
34987,S0008829,AGP,EUR,416.70,2019-08-09,NaN,NaN
35024,S0008756,ZTH,EUR,416.70,2019-08-13,NaN,NaN
35095,S0008617,BJV,EUR,422.26,2019-09-18,NaN,NaN
26002,S0027159,HRG,EUR,104.87,2019-10-30,NaN,NaN
...,...,...,...,...,...,...,...
1030,S0066175,SLL,USD,898.69,2021-11-24,NaN,NaN
905,S0066320,SLL,USD,906.33,2021-11-24,NaN,NaN
904,S0066321,SLL,USD,906.33,2021-11-24,NaN,NaN
903,S0066322,SLL,USD,906.33,2021-11-24,NaN,NaN
900,S0066325,HRG,EUR,6700.37,2021-11-28,NaN,NaN

In [81]:
missing_exchange_rates[missing_exchange_rates['SP_TourDate'] == '2020-05-08']

Empty DataFrame
Columns: [SP_BookingNumber, SP_Destination, SP_PaidCurrency, SP_Paid, SP_TourDate, SP_ValueCalculated, SP_ExchangeRate]
Index: []

# Avro

In [87]:
!pip install pandavro

Collecting pandavro
  Downloading pandavro-1.7.1.tar.gz (8.1 kB)
  Preparing metadata (setup.py) ... done
Collecting fastavro==1.5.1
  Downloading fastavro-1.5.1-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.6 MB)
     || 2.6 MB 2.3 MB/s
Requirement already satisfied: pandas>=1.1 in /opt/conda/lib/python3.9/site-packages (from pandavro) (1.3.4)
Requirement already satisfied: numpy>=1.15.4 in /opt/conda/lib/python3.9/site-packages (from pandavro) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.9/site-packages (from pandas>=1.1->pandavro) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.9/site-packages (from pandas>=1.1->pandavro) (2021.3)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas>=1.1->pandavro) (1.16.0)
Building wheels for collected packages: pandavro
  Building wheel for pandavro (setup.py) ... done
  Created wheel for pandavro: filename=pandavro-1.7.1-py3-none-any.whl size=5688 sha256=bb90b0becb16a2ccda3b99935e2ada7473a7a4072cdc93a72177f46dd3009701
  Stored in directory: /home/jovyan/.cache/pip/wheels/45/12/aa/aa640f089d2d14477165fe23e5310f4b219ecd5ae87ff6ca74
Successfully built pandavro
Installing collected packages: fastavro, pandavro
Successfully installed fastavro-1.5.1 pandavro-1.7.1

In [89]:
import pandavro as pdx

In [90]:
ls

202209040523_nbp_exchangerates.csv*    load-postgres-notebook.ipynb*
business_readynbp_exchangerates.avro*  nbp_exchangerates.csv*
excursions_data.csv*                   nbp_exchange_rates.ipynb
hello-world-notebook.ipynb*            read-postgres-notebook.ipynb*
holidays_and_sundays_pl.ipynb          test.py

In [91]:
# Read the data back
as_avro = pdx.from_avro('business_readynbp_exchangerates.avro')
print(type(as_avro))

<class 'pandas.core.frame.DataFrame'>

In [92]:
as_avro

,SP_BookingNumber,SP_Destination,SP_PaidCurrency,SP_Paid,SP_TourDate,SP_ValueCalculated,SP_ExchangeRate
0,S0067486,ZNZ,PLN,399.07,2022-01-11,NaN,NaN
1,S0067691,RMF,PLN,685.35,2022-01-14,NaN,NaN
2,S0067688,SID,EUR,512.95,2022-01-13,2325.304940,4.5332
3,S0067687,FNC,EUR,486.86,2022-01-11,2209.224622,4.5377
4,S0067686,SID,EUR,512.95,2022-01-13,2325.304940,4.5332
...,...,...,...,...,...,...,...
39014,W0005250,CHQ,PLN,364.61,2019-08-06,NaN,NaN
39015,W0005227,BCN,EUR,78.71,2019-09-11,341.207850,4.3350
39016,W0005214,TIA,PLN,486.15,2019-06-06,NaN,NaN
39017,W0005168,RKV,PLN,1111.20,2019-06-15,NaN,NaN
39018,W0005160,OTP,PLN,2391.86,2019-05-29,NaN,NaN