In [54]:
!pip list

Package                       Version
----------------------------- ----------
alembic                       1.7.4
altair                        4.1.0
anyio                         3.3.3
appdirs                       1.4.4
argon2-cffi                   21.1.0
async-generator               1.10
attrs                         21.2.0
Babel                         2.9.1
backcall                      0.2.0
backports.functools-lru-cache 1.6.4
beautifulsoup4                4.10.0
bleach                        4.1.0
blinker                       1.4
bokeh                         2.4.1
Bottleneck                    1.3.2
brotlipy                      0.7.0
cached-property               1.5.2
certifi                       2021.10.8
certipy                       0.1.3
cffi                          1.14.6
chardet                       4.0.0
charset-normalizer            2.0.0
click                         8.0.3
cloudpickle                   2.0.0
colorama                      0.4.4
conda                         4.10.3
conda-package-handling        1.7.3
convertdate                   2.4.0
cryptography                  35.0.0
cycler                        0.10.0
Cython                        0.29.24
cytoolz                       0.11.0
dask                          2021.9.1
debugpy                       1.4.1
decorator                     5.1.0
defusedxml                    0.7.1
dill                          0.3.4
distributed                   2021.9.1
entrypoints                   0.3
fsspec                        2021.10.1
gmpy2                         2.1.0b5
greenlet                      1.1.2
h5py                          3.4.0
HeapDict                      1.0.1
hijri-converter               2.2.4
holidays                      0.15
idna                          3.1
imagecodecs                   2021.8.26
imageio                       2.9.0
importlib-metadata            4.8.1
importlib-resources           5.2.3
ipykernel                     6.4.1
ipympl                        0.8.0
ipython                       7.28.0
ipython-genutils              0.2.0
ipywidgets                    7.6.5
jedi                          0.18.0
Jinja2                        3.0.2
joblib                        1.1.0
json5                         0.9.5
jsonschema                    4.1.0
jupyter-client                7.0.6
jupyter-core                  4.8.1
jupyter-server                1.11.1
jupyter-telemetry             0.1.0
jupyterhub                    1.4.2
jupyterlab                    3.2.0
jupyterlab-pygments           0.1.2
jupyterlab-server             2.8.2
jupyterlab-widgets            1.0.2
kiwisolver                    1.3.2
korean-lunar-calendar         0.2.1
llvmlite                      0.37.0
locket                        0.2.0
Mako                          1.1.5
mamba                         0.17.0
MarkupSafe                    2.0.1
matplotlib                    3.4.3
matplotlib-inline             0.1.3
mistune                       0.8.4
mock                          4.0.3
mpmath                        1.2.1
msgpack                       1.0.2
nbclassic                     0.3.2
nbclient                      0.5.4
nbconvert                     6.2.0
nbformat                      5.1.3
nest-asyncio                  1.5.1
networkx                      2.5
notebook                      6.4.4
numba                         0.54.1
numexpr                       2.7.3
numpy                         1.20.3
oauthlib                      3.1.1
olefile                       0.46
packaging                     21.0
pamela                        1.0.0
pandas                        1.3.4
pandocfilters                 1.5.0
parso                         0.8.2
partd                         1.2.0
patsy                         0.5.2
pexpect                       4.8.0
pickleshare                   0.7.5
Pillow                        8.3.2
pip                           21.3
pooch                         1.5.2
prometheus-client             0.11.0
prompt-toolkit                3.0.20
protobuf                      3.18.1
psutil                        5.8.0
ptyprocess                    0.7.0
pyarrow                       5.0.0
pycosat                       0.6.3
pycparser                     2.20
pycurl                        7.44.1
Pygments                      2.10.0
PyJWT                         2.3.0
PyMeeus                       0.5.11
pyOpenSSL                     21.0.0
pyparsing                     2.4.7
pyrsistent                    0.17.3
PySocks                       1.7.1
pyspark                       3.1.2
python-dateutil               2.8.2
python-json-logger            2.0.1
pytz                          2021.3
PyWavelets                    1.1.1
PyYAML                        6.0
pyzmq                         22.3.0
requests                      2.26.0
requests-unixsocket           0.2.0
ruamel.yaml                   0.17.16
ruamel.yaml.clib              0.2.2
ruamel-yaml-conda             0.15.80
scikit-image                  0.18.3
scikit-learn                  1.0
scipy                         1.7.1
seaborn                       0.11.2
Send2Trash                    1.8.0
setuptools                    58.2.0
six                           1.16.0
sniffio                       1.2.0
sortedcontainers              2.4.0
soupsieve                     2.0.1
SQLAlchemy                    1.4.25
statsmodels                   0.13.0
sympy                         1.9
tables                        3.6.1
tblib                         1.7.0
terminado                     0.12.1
testpath                      0.5.0
threadpoolctl                 3.0.0
tifffile                      2021.10.12
toolz                         0.11.1
tornado                       6.1
tqdm                          4.62.3
traitlets                     5.1.0
typing-extensions             3.10.0.2
urllib3                       1.26.7
wcwidth                       0.2.5
webencodings                  0.5.1
websocket-client              0.57.0
wheel                         0.37.0
widgetsnbextension            3.5.1
xlrd                          2.0.1
zict                          2.0.0
zipp                          3.6.0

In [2]:
!pip install holidays

Requirement already satisfied: holidays in /opt/conda/lib/python3.9/site-packages (0.15)
Requirement already satisfied: korean-lunar-calendar in /opt/conda/lib/python3.9/site-packages (from holidays) (0.2.1)
Requirement already satisfied: hijri-converter in /opt/conda/lib/python3.9/site-packages (from holidays) (2.2.4)
Requirement already satisfied: convertdate>=2.3.0 in /opt/conda/lib/python3.9/site-packages (from holidays) (2.4.0)
Requirement already satisfied: python-dateutil in /opt/conda/lib/python3.9/site-packages (from holidays) (2.8.2)
Requirement already satisfied: pymeeus<=1,>=0.3.13 in /opt/conda/lib/python3.9/site-packages (from convertdate>=2.3.0->holidays) (0.5.11)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.9/site-packages (from python-dateutil->holidays) (1.16.0)

In [3]:
from datetime import date, timedelta
from dateutil import easter
from dateutil.relativedelta import *
import dateutil.rrule as rrule
# import dateutil.relativedelta as relativedelta
from datetime import date, datetime

In [4]:
import holidays

In [5]:
import pandas as pd

In [6]:
# US holidays, an example

In [7]:
us_holidays = holidays.US()  # this is a dict
# the below is the same, but takes a string:
us_holidays = holidays.country_holidays('US')  # this is a dict

date(2015, 1, 1) in us_holidays  # True
date(2015, 1, 2) in us_holidays  # False
us_holidays.get('2014-01-01')  # "New Year's Day"

"New Year's Day"

In [8]:
# Adding extra holiday, an example

In [9]:
in_holidays = holidays.HolidayBase()

# Let's check our republic day
print('26-01-2019' in in_holidays)

# Add Holiday without description
in_holidays.append('26-01-2019')

# Let's verify
print('26-01-2019' in in_holidays) # True

# Let's Check Description
print(in_holidays.get('26-01-2019'))

# Add Holiday with description
in_holidays.append({'26-01-2019':'Republic Day India'})
print(in_holidays.get('26-01-2019'))


# Add list of Dates Together
in_holidays.append(['02-10-2018', '15-08-2018'])
print('15-08-2018' in in_holidays) # True
print('02-10-2018' in in_holidays) # True

# a single date item
in_holidays.append(date(2018, 12, 25))
print('25-12-2018' in in_holidays) # True

False
True
Holiday
Republic Day India, Holiday
True
True
True

In [10]:
pl_holidays = holidays.PL()

In [11]:
date(2015, 1, 1) in pl_holidays

True

In [12]:
date(2015, 1, 5) in pl_holidays

False

In [13]:
date(2015, 1, 6) in pl_holidays

True

In [14]:
len(pl_holidays)

13

In [15]:
for holiday in pl_holidays:
    print(holiday)

2015-01-01
2015-01-06
2015-04-05
2015-04-06
2015-05-01
2015-05-03
2015-05-24
2015-06-04
2015-08-15
2015-11-01
2015-11-11
2015-12-25
2015-12-26

In [16]:
years = range(2010, 2030)

In [17]:
years

range(2010, 2030)

In [18]:
def get_holidays(years):
    """ Returns Polish hollidays dates (legally considered non-working days) """
    
    output = pd.DataFrame()
    
    for year in years:
        
        # holidays
        easter_sunday = easter.easter(year)
        holidays = {'New Year': date(year,1,1),
                    'Trzech Kroli': date(year,1,6),
                    'Easter Sunday': easter_sunday,
                    'Easter Monday': easter_sunday + timedelta(days=1),
                    'Labor Day': date(year,5,1),
                    'Constitution Day': date(year,5,3),
                    'Pentecost Sunday': easter_sunday + relativedelta(days=+1, weekday=SU(+7)),
                    'Corpus Christi': easter_sunday + relativedelta(weekday=TH(+9)),
                    'Assumption of the Blessed Virgin Mary': date(year,8,15),
                    'All Saints\' Day': date(year,11,1),
                    'Independence Day': date(year,11,11),
                    'Christmas  Day': date(year, 12, 25),
                    'Boxing Day': date(year, 12, 26),
                    }
        
        # output
        output = pd.concat([output, pd.DataFrame([holidays])], ignore_index=True)
        output.index.names = ['id']

    return output.T

In [19]:
df = get_holidays(years)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13 entries, New Year to Boxing Day
Data columns (total 20 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       13 non-null     object
 1   1       13 non-null     object
 2   2       13 non-null     object
 3   3       13 non-null     object
 4   4       13 non-null     object
 5   5       13 non-null     object
 6   6       13 non-null     object
 7   7       13 non-null     object
 8   8       13 non-null     object
 9   9       13 non-null     object
 10  10      13 non-null     object
 11  11      13 non-null     object
 12  12      13 non-null     object
 13  13      13 non-null     object
 14  14      13 non-null     object
 15  15      13 non-null     object
 16  16      13 non-null     object
 17  17      13 non-null     object
 18  18      13 non-null     object
 19  19      13 non-null     object
dtypes: object(20)
memory usage: 2.1+ KB

In [21]:
df

id,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
New Year,2010-01-01,2011-01-01,2012-01-01,2013-01-01,2014-01-01,2015-01-01,2016-01-01,2017-01-01,2018-01-01,2019-01-01,2020-01-01,2021-01-01,2022-01-01,2023-01-01,2024-01-01,2025-01-01,2026-01-01,2027-01-01,2028-01-01,2029-01-01
Trzech Kroli,2010-01-06,2011-01-06,2012-01-06,2013-01-06,2014-01-06,2015-01-06,2016-01-06,2017-01-06,2018-01-06,2019-01-06,2020-01-06,2021-01-06,2022-01-06,2023-01-06,2024-01-06,2025-01-06,2026-01-06,2027-01-06,2028-01-06,2029-01-06
Easter Sunday,2010-04-04,2011-04-24,2012-04-08,2013-03-31,2014-04-20,2015-04-05,2016-03-27,2017-04-16,2018-04-01,2019-04-21,2020-04-12,2021-04-04,2022-04-17,2023-04-09,2024-03-31,2025-04-20,2026-04-05,2027-03-28,2028-04-16,2029-04-01
Easter Monday,2010-04-05,2011-04-25,2012-04-09,2013-04-01,2014-04-21,2015-04-06,2016-03-28,2017-04-17,2018-04-02,2019-04-22,2020-04-13,2021-04-05,2022-04-18,2023-04-10,2024-04-01,2025-04-21,2026-04-06,2027-03-29,2028-04-17,2029-04-02
Labor Day,2010-05-01,2011-05-01,2012-05-01,2013-05-01,2014-05-01,2015-05-01,2016-05-01,2017-05-01,2018-05-01,2019-05-01,2020-05-01,2021-05-01,2022-05-01,2023-05-01,2024-05-01,2025-05-01,2026-05-01,2027-05-01,2028-05-01,2029-05-01
Constitution Day,2010-05-03,2011-05-03,2012-05-03,2013-05-03,2014-05-03,2015-05-03,2016-05-03,2017-05-03,2018-05-03,2019-05-03,2020-05-03,2021-05-03,2022-05-03,2023-05-03,2024-05-03,2025-05-03,2026-05-03,2027-05-03,2028-05-03,2029-05-03
Pentecost Sunday,2010-05-23,2011-06-12,2012-05-27,2013-05-19,2014-06-08,2015-05-24,2016-05-15,2017-06-04,2018-05-20,2019-06-09,2020-05-31,2021-05-23,2022-06-05,2023-05-28,2024-05-19,2025-06-08,2026-05-24,2027-05-16,2028-06-04,2029-05-20
Corpus Christi,2010-06-03,2011-06-23,2012-06-07,2013-05-30,2014-06-19,2015-06-04,2016-05-26,2017-06-15,2018-05-31,2019-06-20,2020-06-11,2021-06-03,2022-06-16,2023-06-08,2024-05-30,2025-06-19,2026-06-04,2027-05-27,2028-06-15,2029-05-31
Assumption of the Blessed Virgin Mary,2010-08-15,2011-08-15,2012-08-15,2013-08-15,2014-08-15,2015-08-15,2016-08-15,2017-08-15,2018-08-15,2019-08-15,2020-08-15,2021-08-15,2022-08-15,2023-08-15,2024-08-15,2025-08-15,2026-08-15,2027-08-15,2028-08-15,2029-08-15
All Saints' Day,2010-11-01,2011-11-01,2012-11-01,2013-11-01,2014-11-01,2015-11-01,2016-11-01,2017-11-01,2018-11-01,2019-11-01,2020-11-01,2021-11-01,2022-11-01,2023-11-01,2024-11-01,2025-11-01,2026-11-01,2027-11-01,2028-11-01,2029-11-01
Independence Day,2010-11-11,2011-11-11,2012-11-11,2013-11-11,2014-11-11,2015-11-11,2016-11-11,2017-11-11,2018-11-11,2019-11-11,2020-11-11,2021-11-11,2022-11-11,2023-11-11,2024-11-11,2025-11-11,2026-11-11,2027-11-11,2028-11-11,2029-11-11
Christmas Day,2010-12-25,2011-12-25,2012-12-25,2013-12-25,2014-12-25,2015-12-25,2016-12-25,2017-12-25,2018-12-25,2019-12-25,2020-12-25,2021-12-25,2022-12-25,2023-12-25,2024-12-25,2025-12-25,2026-12-25,2027-12-25,2028-12-25,2029-12-25
Boxing Day,2010-12-26,2011-12-26,2012-12-26,2013-12-26,2014-12-26,2015-12-26,2016-12-26,2017-12-26,2018-12-26,2019-12-26,2020-12-26,2021-12-26,2022-12-26,2023-12-26,2024-12-26,2025-12-26,2026-12-26,2027-12-26,2028-12-26,2029-12-26

In [22]:
df.loc['New Year']

id
0     2010-01-01
1     2011-01-01
2     2012-01-01
3     2013-01-01
4     2014-01-01
5     2015-01-01
6     2016-01-01
7     2017-01-01
8     2018-01-01
9     2019-01-01
10    2020-01-01
11    2021-01-01
12    2022-01-01
13    2023-01-01
14    2024-01-01
15    2025-01-01
16    2026-01-01
17    2027-01-01
18    2028-01-01
19    2029-01-01
Name: New Year, dtype: object

In [23]:
df_melted = df.stack().reset_index(name='date').rename(columns={'level_0':'holiday', 'id': 'year_id'})

In [24]:
holidays = df_melted.drop(columns='year_id')

In [25]:
holidays['date'] = pd.to_datetime(holidays['date'])

In [26]:
holidays

        holiday       date
0      New Year 2010-01-01
1      New Year 2011-01-01
2      New Year 2012-01-01
3      New Year 2013-01-01
4      New Year 2014-01-01
..          ...        ...
255  Boxing Day 2025-12-26
256  Boxing Day 2026-12-26
257  Boxing Day 2027-12-26
258  Boxing Day 2028-12-26
259  Boxing Day 2029-12-26

[260 rows x 2 columns]

In [51]:
year = 2022

In [52]:
easter_sunday = easter.easter(year)

In [53]:
print(date(year,1,6))

2022-01-06

In [30]:
date_to_check = date(year,1,6)

In [31]:
if date_to_check in set(df_melted['date']):
    print(True)
else:
    print(False)

True

In [32]:
date_to_check = date(year,1,5)

In [33]:
if date_to_check in set(df_melted['date']):
    print(True)
else:
    print(False)

False

In [34]:
def get_holidays_pl(years):
    """ Returns Polish hollidays dates (legally considered non-working days) """
    
    df = pd.DataFrame()
    
    for year in years:
        
        # holidays
        easter_sunday = easter.easter(year)
        holidays = {'New Year': date(year,1,1),
                    'Trzech Kroli': date(year,1,6),
                    'Easter Sunday': easter_sunday,
                    'Easter Monday': easter_sunday + timedelta(days=1),
                    'Labor Day': date(year,5,1),
                    'Constitution Day': date(year,5,3),
                    'Pentecost Sunday': easter_sunday + relativedelta(days=+1, weekday=SU(+7)),
                    'Corpus Christi': easter_sunday + relativedelta(weekday=TH(+9)),
                    'Assumption of the Blessed Virgin Mary': date(year,8,15),
                    'All Saints\' Day': date(year,11,1),
                    'Independence Day': date(year,11,11),
                    'Christmas  Day': date(year, 12, 25),
                    'Boxing Day': date(year, 12, 26),
                    }
        
        # output
        df = pd.concat([df, pd.DataFrame([holidays])], ignore_index=True)
        df.index.names = ['id']
        output = df.transpose(copy=True)
        output = output.stack().reset_index(name='date').rename(columns={'level_0':'holiday', 'id': 'year_id'})
        output = output.drop(columns='year_id')
        output['date'] = pd.to_datetime(output['date'])
        
        print(output.head())

    return output

In [35]:
holidays = get_holidays_pl(years)

         holiday       date
0       New Year 2010-01-01
1   Trzech Kroli 2010-01-06
2  Easter Sunday 2010-04-04
3  Easter Monday 2010-04-05
4      Labor Day 2010-05-01
         holiday       date
0       New Year 2010-01-01
1       New Year 2011-01-01
2   Trzech Kroli 2010-01-06
3   Trzech Kroli 2011-01-06
4  Easter Sunday 2010-04-04
        holiday       date
0      New Year 2010-01-01
1      New Year 2011-01-01
2      New Year 2012-01-01
3  Trzech Kroli 2010-01-06
4  Trzech Kroli 2011-01-06
        holiday       date
0      New Year 2010-01-01
1      New Year 2011-01-01
2      New Year 2012-01-01
3      New Year 2013-01-01
4  Trzech Kroli 2010-01-06
    holiday       date
0  New Year 2010-01-01
1  New Year 2011-01-01
2  New Year 2012-01-01
3  New Year 2013-01-01
4  New Year 2014-01-01
    holiday       date
0  New Year 2010-01-01
1  New Year 2011-01-01
2  New Year 2012-01-01
3  New Year 2013-01-01
4  New Year 2014-01-01
    holiday       date
0  New Year 2010-01-01
1  New Year 2011-01-01
2  New Year 2012-01-01
3  New Year 2013-01-01
4  New Year 2014-01-01
    holiday       date
0  New Year 2010-01-01
1  New Year 2011-01-01
2  New Year 2012-01-01
3  New Year 2013-01-01
4  New Year 2014-01-01
    holiday       date
0  New Year 2010-01-01
1  New Year 2011-01-01
2  New Year 2012-01-01
3  New Year 2013-01-01
4  New Year 2014-01-01
    holiday       date
0  New Year 2010-01-01
1  New Year 2011-01-01
2  New Year 2012-01-01
3  New Year 2013-01-01
4  New Year 2014-01-01
    holiday       date
0  New Year 2010-01-01
1  New Year 2011-01-01
2  New Year 2012-01-01
3  New Year 2013-01-01
4  New Year 2014-01-01
    holiday       date
0  New Year 2010-01-01
1  New Year 2011-01-01
2  New Year 2012-01-01
3  New Year 2013-01-01
4  New Year 2014-01-01
    holiday       date
0  New Year 2010-01-01
1  New Year 2011-01-01
2  New Year 2012-01-01
3  New Year 2013-01-01
4  New Year 2014-01-01
    holiday       date
0  New Year 2010-01-01
1  New Year 2011-01-01
2  New Year 2012-01-01
3  New Year 2013-01-01
4  New Year 2014-01-01
    holiday       date
0  New Year 2010-01-01
1  New Year 2011-01-01
2  New Year 2012-01-01
3  New Year 2013-01-01
4  New Year 2014-01-01
    holiday       date
0  New Year 2010-01-01
1  New Year 2011-01-01
2  New Year 2012-01-01
3  New Year 2013-01-01
4  New Year 2014-01-01
    holiday       date
0  New Year 2010-01-01
1  New Year 2011-01-01
2  New Year 2012-01-01
3  New Year 2013-01-01
4  New Year 2014-01-01
    holiday       date
0  New Year 2010-01-01
1  New Year 2011-01-01
2  New Year 2012-01-01
3  New Year 2013-01-01
4  New Year 2014-01-01
    holiday       date
0  New Year 2010-01-01
1  New Year 2011-01-01
2  New Year 2012-01-01
3  New Year 2013-01-01
4  New Year 2014-01-01
    holiday       date
0  New Year 2010-01-01
1  New Year 2011-01-01
2  New Year 2012-01-01
3  New Year 2013-01-01
4  New Year 2014-01-01

In [36]:
holidays

        holiday       date
0      New Year 2010-01-01
1      New Year 2011-01-01
2      New Year 2012-01-01
3      New Year 2013-01-01
4      New Year 2014-01-01
..          ...        ...
255  Boxing Day 2025-12-26
256  Boxing Day 2026-12-26
257  Boxing Day 2027-12-26
258  Boxing Day 2028-12-26
259  Boxing Day 2029-12-26

[260 rows x 2 columns]

In [37]:
# import dateutil.relativedelta as relativedelta
# import dateutil.rrule as rrule
# import datetime
year=2022
before=datetime(year,1,1)
after=datetime(year,12,31)
rr = rrule.rrule(rrule.WEEKLY, byweekday=SU, dtstart=before)
print(rr.between(before, after, inc=True))

[datetime.datetime(2022, 1, 2, 0, 0), datetime.datetime(2022, 1, 9, 0, 0), datetime.datetime(2022, 1, 16, 0, 0), datetime.datetime(2022, 1, 23, 0, 0), datetime.datetime(2022, 1, 30, 0, 0), datetime.datetime(2022, 2, 6, 0, 0), datetime.datetime(2022, 2, 13, 0, 0), datetime.datetime(2022, 2, 20, 0, 0), datetime.datetime(2022, 2, 27, 0, 0), datetime.datetime(2022, 3, 6, 0, 0), datetime.datetime(2022, 3, 13, 0, 0), datetime.datetime(2022, 3, 20, 0, 0), datetime.datetime(2022, 3, 27, 0, 0), datetime.datetime(2022, 4, 3, 0, 0), datetime.datetime(2022, 4, 10, 0, 0), datetime.datetime(2022, 4, 17, 0, 0), datetime.datetime(2022, 4, 24, 0, 0), datetime.datetime(2022, 5, 1, 0, 0), datetime.datetime(2022, 5, 8, 0, 0), datetime.datetime(2022, 5, 15, 0, 0), datetime.datetime(2022, 5, 22, 0, 0), datetime.datetime(2022, 5, 29, 0, 0), datetime.datetime(2022, 6, 5, 0, 0), datetime.datetime(2022, 6, 12, 0, 0), datetime.datetime(2022, 6, 19, 0, 0), datetime.datetime(2022, 6, 26, 0, 0), datetime.datetime(2022, 7, 3, 0, 0), datetime.datetime(2022, 7, 10, 0, 0), datetime.datetime(2022, 7, 17, 0, 0), datetime.datetime(2022, 7, 24, 0, 0), datetime.datetime(2022, 7, 31, 0, 0), datetime.datetime(2022, 8, 7, 0, 0), datetime.datetime(2022, 8, 14, 0, 0), datetime.datetime(2022, 8, 21, 0, 0), datetime.datetime(2022, 8, 28, 0, 0), datetime.datetime(2022, 9, 4, 0, 0), datetime.datetime(2022, 9, 11, 0, 0), datetime.datetime(2022, 9, 18, 0, 0), datetime.datetime(2022, 9, 25, 0, 0), datetime.datetime(2022, 10, 2, 0, 0), datetime.datetime(2022, 10, 9, 0, 0), datetime.datetime(2022, 10, 16, 0, 0), datetime.datetime(2022, 10, 23, 0, 0), datetime.datetime(2022, 10, 30, 0, 0), datetime.datetime(2022, 11, 6, 0, 0), datetime.datetime(2022, 11, 13, 0, 0), datetime.datetime(2022, 11, 20, 0, 0), datetime.datetime(2022, 11, 27, 0, 0), datetime.datetime(2022, 12, 4, 0, 0), datetime.datetime(2022, 12, 11, 0, 0), datetime.datetime(2022, 12, 18, 0, 0), datetime.datetime(2022, 12, 25, 0, 0)]

In [38]:
years

range(2010, 2030)

In [39]:
min(years)

2010

In [40]:
max(years)

2029

In [41]:
def get_sundays(years):
    """ Returns Sundays """

    before=datetime(min(years), 1, 1)
    after=datetime(max(years), 12, 31)
    rr = rrule.rrule(rrule.WEEKLY, byweekday=SU, dtstart=before)

    output = pd.DataFrame(rr.between(before, after, inc=True), columns=['date'])
    output['holiday'] = 'Sunday'
    
    print(output.head())

    return output

In [42]:
sundays = get_sundays(years)

        date holiday
0 2010-01-03  Sunday
1 2010-01-10  Sunday
2 2010-01-17  Sunday
3 2010-01-24  Sunday
4 2010-01-31  Sunday

In [43]:
sundays

           date holiday
0    2010-01-03  Sunday
1    2010-01-10  Sunday
2    2010-01-17  Sunday
3    2010-01-24  Sunday
4    2010-01-31  Sunday
...         ...     ...
1039 2029-12-02  Sunday
1040 2029-12-09  Sunday
1041 2029-12-16  Sunday
1042 2029-12-23  Sunday
1043 2029-12-30  Sunday

[1044 rows x 2 columns]

In [44]:
holidays.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   holiday  260 non-null    object
 1   date     260 non-null    datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 4.2+ KB

In [45]:
sundays.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1044 entries, 0 to 1043
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     1044 non-null   datetime64[ns]
 1   holiday  1044 non-null   object
dtypes: datetime64[ns](1), object(1)
memory usage: 16.4+ KB

In [46]:
calendar = pd.concat([holidays, sundays], ignore_index=True)

In [47]:
calendar

       holiday       date
0     New Year 2010-01-01
1     New Year 2011-01-01
2     New Year 2012-01-01
3     New Year 2013-01-01
4     New Year 2014-01-01
...        ...        ...
1299    Sunday 2029-12-02
1300    Sunday 2029-12-09
1301    Sunday 2029-12-16
1302    Sunday 2029-12-23
1303    Sunday 2029-12-30

[1304 rows x 2 columns]

In [48]:
ls -lah

total 44K
drwxrwxrwx 1 root   root   512 Aug 31 13:26 ./
drwsrwsr-x 1 jovyan users 4.0K Aug 24 06:36 ../
-rwxrwxrwx 1 root   root   12K Aug 24 06:46 hello-world-notebook.ipynb*
-rw-r--r-- 1 jovyan users  62K Aug 31 13:25 holidays_and_sundays_pl.ipynb
drwxrwxrwx 1 root   root   512 Aug 31 12:13 .ipynb_checkpoints/
-rwxrwxrwx 1 root   root   19K Jun  5 16:49 load-postgres-notebook.ipynb*
-rwxrwxrwx 1 root   root  3.8K Jun  5 16:58 read-postgres-notebook.ipynb*
-rw-r--r-- 1 jovyan users   21 Aug 31 13:27 test.py

In [49]:
!whoami

jovyan

In [50]:
%%writefile test.py
print('hello_world')

Overwriting test.py